<!-- start: TOP NAVBAR -->
<header class="navbar navbar-custom">
    <!-- start: NAVBAR HEADER -->
    <div class="navbar-header">
        <a class="navbar-brand navbar-brand-custom" ui-sref="app.home"> <img ng-src="{{app.layout.logo}}" alt="{{app.name}}" /> </a>
        <button href="javascript:void(0)" ng-show="isMobileDevice" ng-class="{hide:!isMobileDevice}" class="menu-mobile-toggler btn" ng-click="menuToggle()">
            <i class="fa fa-bars"></i>
        </button>
    </div>
</header>
<!-- end: TOP NAVBAR -->



