<div class="app-content">
    <!-- top navbar -->
    <ng-include src=" 'assets/views/partials/top-navbar.html' "></ng-include>
    <!-- / top navbar -->
    <!-- main content -->
    <div data-ng-include=" 'assets/views/partials/main-content.html' " class="main-content"></div>
    <!-- / main content -->
</div>
<!-- start: HORIZONTAL MENU -->
<div data-ng-include=" 'assets/views/partials/horizontal-menu.html' " uib-collapse="navbarCollapsed"></div>
<!-- end: HORIZONTAL MENU -->
<!-- footer -->
<footer data-ng-include=" 'assets/views/partials/footer.html' " class="hidden-print"></footer>
<!-- / footer -->
